<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FRiC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Login and register page.">
    <link rel="stylesheet" href="/public/styles/common.css">
    <link rel="stylesheet" href="/public/styles/stats.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <script src="/public/js/stats.js" async defer></script>
</head>
<body>
<h1 class="text-align-center mb-2" id="title">My stats</h1>
<h2 class="text-align-center mb-4" id="user-email"></h2>
<div class="text-align-center">
    <button class="btn btn--primary" type="button" onclick="stats.logOut()">Logout</button>
</div>
    <div class="main full-height">
        <div class="main_token col-flex align-items-center border-y my-1">
            <h2 class="my-2">Token(click to copy):</h2>
            <textarea class="mb-2" id="token" readonly>
                TOKEN
            </textarea>
            <button hidden class="btn btn--primary mt-1 mb-2" type="button" disabled>Generate new token (Comming soon)</button>
        </div>
        <div class="main_requests col-flex align-items-center border-y my-1">
            <h2 class="my-2">Your requests:</h2>
            <input id="remaining-requests" class="my-1 p-2 bg-transparent fs-18px border-radius-5px" type="text">
        </div>
        <div class="main_plan col-flex align-items-center border-y my-1">
            <h2 class="my-2">Your plan:</h2>
            <input id="your-plan" class="my-1 p-2 bg-transparent fs-18px border-radius-5px" type="text">
            <p class="color-red">You cannot upgrade right now. Coming soon</p>
        </div>
    </div>
    <footer>
        <!-- footer empty -->
    </footer>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>