html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #0072ff,
      #00c6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #0072ff,
      #00c6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

.main {
    padding: 0 5%;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.full-height {
    height: 100%;
}

.col-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn {
    color: white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn--primary {
    background: #0d8fc2;
    border-color: #0d8fc2;
}

.btn--success {
    background: #00e600;
    border-color:#00e600;
}

.btn--danger {
    background: #e62e00;
    border-color: #e62e00;
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.p-2 {
    padding: 0.5rem;
}

.align-items-center {
    align-items: center;
}

.border-y {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.border-none {
    border: none;
}

.border-radius-5px {
    border-radius: 5px;
}

.bg-transparent {
    background: transparent;
}

.fs-18px {
    font-size: 18px;
}

.color-red {
    color: red;
}